
header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
  body{
    background-color: rgb(205,205,205);
    margin: 50px 50px 50px 50px;
  }
  h2{
    text-decoration: underline;
    color: black;
    font:  Helvetica;
  }
#ingredients, #preparation, #comments, #links{
  text-align: left;
  color:rgb(0, 118, 118);
  font-size: 20px;
  margin: 100px;
}
ul{
  list-style-image: url('tomato_32.png');

}
.usercom{
  background-color: rgb(255, 255, 180);
  color: black;
  padding: 10px;
  font-size: 20px;
  line-height: 1.5em;
}
.back{
  background-color: white;
}
